* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    width: 30%;
    margin: 5em auto;
}

.container .display {
    background-color: aliceblue;
    padding: 30px 50px;
    text-align: end;
}

.container .buttons {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 50px);
    justify-items: center;
    align-items: center;
    background-color: white;
}

.button {
    padding: 10px;
    border-radius: 29px;
    min-width: 41.5px;
    text-align: center;
    background-color: #80808030;
    box-shadow: -2px -2px 15px #80808030;
}